---
const { project } = Astro.props;
---

<a
  href={project.url}
  class="inline-block w-full rounded border bg-transparent p-4 pb-3 transition-all hover:border-gray-500 hover:shadow dark:border-gray-800 dark:hover:border-gray-500"
>
  <div class="flex justify-between">
    <div>
      <div class="mb-1 flex items-center gap-2">
        <h3 class="font-semibold">{project.frontmatter.title}</h3>
      </div>
      <div class="flex flex-wrap items-center gap-2 lowercase">
        {
          project.frontmatter.technologies.map((technology: string) => (
            <p class="rounded border p-1 text-xs text-gray-700 dark:border-gray-800 dark:text-gray-300">
              {technology}
            </p>
          ))
        }
      </div>
    </div>
    <p class="text-xs">{project.frontmatter.year}</p>
  </div>
  <ul class="mt-2">
    {
      project.frontmatter.details.map((detail: string) => (
        <p class="text-sm">{detail}</p>
      ))
    }
  </ul>
</a>
